html,body{
	margin:0;
	background-color: #ecf0f1;
}
#header{ 
	background-color: #3498db;
	height: 50px;
}
	.navbar-right{
		margin-top:5px;
		padding:5px;
	}
	.photo-prof{
		height:30px;
		width:30px;
		margin-top:-5px;
	}
	.navbar-inverse .nav > li > a {
		padding:10px;
	}
	.navbar-brand{
		margin-top:5px;
	}
#content{
	clear:both;
	min-height:545px;
}
	.absolute-center{
		margin-top:150px;
		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 50px 25px 35px;
		background-color: #fff;
	}
	.content{
		margin: 40px 0 25px 0;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
	}
	.log-list td, .log-list th{
		padding: 0 20px;
	}
	.submit-log{
		margin-top:-5px;
	}
	.menufilter{
		margin-top:10px;
	}
	.userfilter{
		display:none;
		background-color: #ecf0f1;
		position:relative;
		z-index:10;
		padding:20px;
	}
	#add-recommendation{
		margin: 5px 0;
	}
		
	#user{
		margin-left: -30px;
	}
	#datepicker{
		width: 120px;
	}
	.datefilter{
		margin-left: -50px;
	}
	.delete-date{
		position: absolute;
		margin-top: -32px;
		margin-left: 100px;
	}
	.item-icon{
		cursor: pointer;
		margin-top: 5px;
	}
	.textbox-datepicker{
		margin-left: 65px;
		width: 120px;
		margin-top: -35px;
	}
	.profile{
		margin-top: -5px;
		margin-right: 20px;
	}
	.content-post{
		margin-top:30px;
	}
	.bubble-chat, .delete-item{
		display: none;
		cursor: pointer;
		margin-top: 5px;
	}
	.bubble-chat:hover, .delete-item:hover{
		color: #555;
		margin-top: 5px;
	}
	.comment{
		position:absolute;
		left:665;
		background-color: #fff;
		padding:5px;
		display: none;
		margin-top:-95px;
		width:285px;
	}
	.form-comment{
		margin-bottom:15px;
		margin-top: 10px;
	}
	.textarea-comment{
		border-radius:4px;
	}
	.photo-profile{
		height:50px;
		width:50px;
	}
	.content-hashtag{
		font-size: 14px;
		display:none;
	}
	.item-list{
		margin-left: 10px;
	}
	.item-icon{
		.margin-top: 5px;
	}
	.comments{
		display: none;
	}
	.timestamp{
		margin-top:10px;
	}
	.timestamp .times{
		font-family: lusitana;
		font-size:12px;
		color:#808080;
	}
	.media-border{
		border-bottom: 1px solid #ccc;
	}
	.load-more {
			text-align: center;
			margin-top:15px; 
			border-radius: 4px;
		}
	.load-more a{
		color:#666666;
	}
	.pp-comment{
		height:30px;
		width:30px;
	}
	.media-comment{
		margin-top:2px;
		font-size:16px;
	}
	.content-comment{
		margin-left:7px;
	}
	#message{
		display:none;
		font-size: 14px;
		color: #48c9b0;
		background: #ecf0f1;
		padding: 10px;
		border-radius: 4px;
	}

#footer{
	background-color:#34495e;
}
	#footer .logstream{
		font-size: 12px;
		width:100%;
		margin-top:15px;
		color:#fff;
	}
	.footer{
		font-size: 12px;
		width:100%;
		margin-top:90px;
	}
	
.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
