html {
	height: 100%;
}

html, body {
	margin:0;
	background-color: #ecf0f1;
}

#header{ 
	background-color: #3498db;
	height: 50px;
}
	.navbar-right{
		margin-top:5px;
		padding:5px;
	}
	.photo-prof{
		height:30px;
		width:30px;
		margin-top:-5px;
	}
	.navbar-inverse .nav > li > a {
		padding:10px;
	}
	.navbar-brand{
		margin-top:5px;
	}

#content{
	clear: both;
	margin-top: 15px;
	min-height: 545px;
}

.grup-cardlist > div {
	margin-top: 10px;
	background-color: #fff;
}

.grup-name {
	font-weight: bold;
	font-size: 22px;
}

.grup-state {
/*
	font-size: 18px;
	text-decoration: underline;
*/0
}

.grup-indikasi .row{
	margin-left: 0;
	margin-right: 0;
}

.add {
	margin-bottom: 10px;
}

.delete-group:hover, .delete-indikasi:hover, .delete-rekomendasi:hover {
	cursor: hand;
}